#homecontent {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}

#blogcontent {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}

#infocontent {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}

#resourcescontent {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#confirm {
  background-color: rgb(51, 153, 255);
  display: none;
  width: max-content;
  border: 5px solid rgb(51, 153, 255);
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: #008CBA;
  position: relative;
  animation-name: confirmAnim;
  animation-duration: 5s;
}

@keyframes confirmAnim {
  0%   {background-color:rgb(0, 132, 255);}
  50% {
    background-color:rgb(85, 255, 51);
    border: 5px solid rgb(85, 255, 51);
    left:250px;
  }
  100% {
    background-color:green;
    border: 5px solid green;
    left:500px;
  }
}

#Home {background-color: rgb(220, 189, 255);}
#Blog {background-color: rgb(189, 255, 249);}
#Information {background-color: rgb(164, 248, 164);}
#Resources {background-color: rgb(248, 235, 159);}
