#homecontent {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}
 
#blogcontent {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}
 
.hidden {
  display: none;
}
 
#reply-form {
  display: none;
  float: right;
}
 
#resourcescontent {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}
 
#followtagscontent {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  color: black;
}
 
body, html {
  margin: 0;
  font-family: Arial;
}
 
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
 
.tablink:hover {
  background-color: #777;
}
 
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
 
#confirm-box {
  position: fixed;
  float: right;
  display: none;  
  width: max-content;
  max-height: 35px;
  padding: 5px;
  margin: 5px;
}
 
#confirm-text {
  text-align: center;
  vertical-align: text-top;
  font-size: xx-small;
  color: rgba(255, 255, 255, 0.911);
}
 
 
#Home {background-color: rgb(220, 189, 255);}
#Blog {background-color: rgb(189, 255, 249);}
#Resources {background-color: rgb(248, 235, 159);}
#FollowTags {background-color: rgb(164, 248, 164);}
 
.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
 
.scrollbutton {
  background-color: #333;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px;
  font-size: 17px;
  text-decoration: none;
  border: none
}
 
.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
 
.scrollmenu a:hover {
  background-color: #777;
}
 
.post {
  background-color: DimGrey;
  border: 5px solid black;
  display: flex;
  margin: 30px;
  padding: 30px;
  width: 800px;
  height: auto;
  position: relative;
}
 
.post span {
  flex-grow: 1;
}

.postSubmit {
  display: hidden;
  background-color: whitesmoke;
  width: 80px;
}

.postSubmit:hover {
  background-color: dimgrey;
  color: whitesmoke;
}

.postRepBtn {
  background-color: rgb(77, 73, 73);
  margin-top: 30px;
  float: right;
  display: block;
}

.postRepBtn:hover {
  background-color: lightgrey;
}

.postDelBtn {
  background-color: rgb(77, 73, 73);
  margin-top: 30px;
  float: right;
  display: block;
}

.postDelBtn:hover {
  background-color: rgb(36, 35, 35);
  color: white;
}

.postDate {
  margin: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  clear: left;
}

.postTag {
  position: absolute;
  top: 0;
  left: 0;
  clear: right;
  margin: 10px;
}

.postText {
  position: relative;
  float: left;
  clear: right;
  margin: 10px;
  max-width: 600px;
  height: auto;
}

.postSender {
  position: absolute;
  bottom: 0;
  left: 0;
  clear: right;
  margin: 10px;
}

.reply {
  position: relative;
  float: right;
  background-color: LightGray;
  border: 2px solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 500px;
}
 
.reply span {
  flex-grow: 1;
}

.replyText {
  position: relative;
  float: left;
  clear: right;
  margin-bottom:  20px;
  max-width: 400px;
  height: auto;
}
 
.replyDelBtn {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  display: block;
}

.replyDelBtn:hover {
  background-color: rgb(36, 35, 35);
  color: white;
}
 
.followtagbox {
  display : inline-block;
  background-color: lightgrey;
  border: 5px solid black;
  margin: 10px;
  padding: 30px;
  text-align: center;
  width: 150px;
  color: black;
}
 
.tagselectcontainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
/* Hide the browser's default checkbox */
.tagselectcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
/* Create custom [circle dot] check indicator */
.tagcheckindicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
 
/* On mouse-over, add a grey background color */
.tagselectcontainer:hover input ~ .tagcheckindicator {
  background-color: #ccc;
}
 
/* Green background for our checked boxes*/
.tagselectcontainer input:checked ~ .tagcheckindicator {
  background-color: green;
}
 
/* Check indicator hidden when box is not checked */
.tagcheckindicator:after {
  content: "";
  position: absolute;
  display: none;
}
 
/* Check indicator shown when box is checked */
.tagselectcontainer input:checked ~ .tagcheckindicator:after {
  display: block;
}
 
/* Style the check indicator */
.tagselectcontainer .tagcheckindicator:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
 
/* Styles for followTag boxes */
#Ft_animals {
  background: url("/Images/animals_lion.jpg");
  background-size: 150px 50px;
}
 
#Ft_animals:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_art {
  background: url("/Images/art_blog.png");
  background-size: 150px 50px;
}
 
#Ft_art:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_business {
  background: url("/Images/business.png");
  background-size: 150px 50px;
}
 
#Ft_business:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_education {
  background: url("/Images/education.jpg");
  background-size: 150px 50px;
}
 
#Ft_education:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_environment {
  background: url("/Images/environment.jpg");
  background-size: 150px 50px;
}
 
#Ft_environment:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_games {
  background: url("/Images/games.jpg");
  background-size: 150px 50px;
}
 
#Ft_games:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_music {
  background: url("/Images/music.jpeg");
  background-size: 150px 50px;
}
 
#Ft_music:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_politics {
  background: url("/Images/politics.jpg");
  background-size: 150px 50px;
}
 
#Ft_politics:hover {
  background: none;
  background-color: lightgrey;
}
 
#Ft_wellbeing {
  background: url("/Images/wellbeing.jpg");
  background-size: 150px 50px;
}
 
#Ft_wellbeing:hover {
  background: none;
  background-color: lightgrey;
}
 
.Ft-Btns {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
 
.Ft-headerAndPara {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}